body {
    padding-top: 5rem;
}

.form-login {
    max-width: 330px;
    padding: 15px;
}

.form-login input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul.images{
    list-style-type: none;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    row-gap: 10px;
}

li > img{
    max-width: 250px;
    justify-self: center;
    align-self: center;
}